.navContainer {
  /* position: fixed;
  top: 0;
  left: 50%; */
  position: relative;
  top: 10%;
  z-index: 9999 !important;
  background-color: #d3d3d3;
  display: flex;
  border-radius: 40px;
  margin: auto;
  /* transform: translateX(-50%); */
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding: 1.5rem 2.5rem;
  opacity: 0.8;
  width: 80vw;
}

.siteTitle {
  font-size: 20px;
  font-weight: 700;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  cursor: pointer;
  color: crimson;
}
a.active {
  color: crimson;
}
.siteTitle:hover {
  color: navy;
}

.navContainer ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}
