.cardContainer {
  width: 80%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
  padding: 2rem 1rem;
}

.card {
  width: 30%;
  background-color: white;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0.5rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  transition: all 0.5s ease; /* Transition for all properties */
}

.card:hover {
  background-color: cornsilk;
}

.cardImg {
  width: 85%;
  height: 100%;
  background-image: url("../../assets/images/F1BG.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 0.5rem;
}

.cardTitle {
  color: black;
}
.cardTitle:hover {
  color: #e10600;
}

.verticalCard {
  width: 50%;
  background-color: white;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0.5rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  transition: all 0.5s ease; /* Transition for all properties */
}

.verticalCard:hover {
  background-color: cornsilk;
}

.verticalCardImg {
  width: 25%;
  height: 100%;
  background-image: url("../../assets/images/F1BG.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 0.5rem;
}

.verticalCardTitle {
  margin-left: 1rem;
  font-size: 20px;
  color: black;
}

.verticalCardTitle:hover {
  color: #e10600;
}
